textarea {
  width: 100%;
  height: 70vh;
  padding: 20px;
}

.Preview {
  max-height: 70vh;
  overflow: auto;
  display: flex;
}

.variable-textarea {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  min-height: 420px;
  transition: all 300ms ease-out;
}

.variable-textarea:hover {
  box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.09),
    0 2px 3px 1px rgba(0, 0, 0, 0.06);
}
.actions {
  button {
    border: none;
    background-color: #a29bfe;
    color: white;
    box-shadow: 1px 2px 4px 0px #2d3436;
    -ms-box-shadow: 1px 2px 4px 0px #2d3436;
    -o-box-shadow: 1px 2px 4px 0px #2d3436;
    -moz-box-shadow: 1px 2px 4px 0px #2d3436;
    -webkit-box-shadow: 1px 2px 4px 0px #2d3436;
    &:hover {
      color: #2d3436;
      background-color: white;
    }
  }
  .h {
    background-color: #81ecec !important;
    color: black;
  }
  .highlight {
    background-color: #2d3436;
  }
  .link {
    background-color: #74b9ff;
  }
  .tableHelper {
    background-color: #00b894;
  }
}
