@import "../../../../../assets/styles/lib/variables";

.select-mode {
  .mode {
    padding: 5px;
    background-color: white;

    color: #2d3436;
    &:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      -moz-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      -o-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
      -ms-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
  }
}
.actions {
  button {
    border: none;
    background-color: $bg-white;
    color: map-get($pallete, complement);
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    border: 1px solid map-get($pallete, secondary);
    &:hover {
      background-color: map-get($pallete, secondary);
      color: map-get($pallete, complement);
    }
  }
  .dropdown-toggle {
    vertical-align: baseline !important;
  }
}
