<div class="row mt-1">
  <div class="col-md-12 text-center">
    <div class="jumbotron bg-white mt-4 border border-dark">
      <h1>Lo sentimos, pero este sitio aun no esta listo!</h1>
      <div class="alert alert-warning">
        Aún no llegamos a la versión <strong id="version">1.0</strong>
      </div>
      <p class="text-justify">
        El sito que buscas(<img
          src="../../../assets/img/commons/{{ params.image }}"
          alt=" imagen ruta"
          height="20"
        />
        > <strong>{{ params.title }}</strong
        >), no existe o se encuentra en construcción. Mr Git es un proyecto
        libre y, por lo cual, trabajamos en los tiempos que tenemos disponibles.
        Esperamos pronto tener listo este sitio 🤗.
      </p>
      <p>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by
        <a href="https://github.com/D3vaya">
          <img
            src="../../../../assets/img/social/profile.jpeg"
            alt="imagen perfil github"
            class="mr-2 rounded-circle shadow"
            height="60"
          />
        </a>
        <a
          href="https://github.com/D3vaya/Mr-Git"
          class="text-muted"
          target="_blank"
          >D3vaya&nbsp;<img
            src="../../../../assets/img/social/github.svg"
            style="height: 1em" /></a
        >.
      </p>
      <strong>
        <a
          href="https://choosealicense.com/licenses/gpl-3.0/"
          target="_blank"
          class="text-muted text-dark"
        >
          Licencia GNU GPLv3
        </a>
      </strong>
    </div>
  </div>
</div>
