main {
  height: 100%;
}
h2 {
  font-weight: 600;
}
.bg-landing {
  background-color: #f0f0e8;
}
.description {
  font-size: 1.2em;
}

.btn-start {
  background: #f05133;
  border-radius: 10px;
  text-decoration: none;
  z-index: 1000;
  padding: 5px;
  width: 280px;
  &:hover {
    background: #993321;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.linkRepository {
  text-decoration: none;
  color: #413000;
}
.btn-start::content {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 154.19%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f0f0e8;
  cursor: pointer;
  z-index: 100;
}
.roadmap {
  width: 280px;
  text-align: center;
  a {
    font-weight: bold;
    text-decoration: none;
    color: #413000; //agregar variable
  }
}
.footer-wave {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10 !important;
  img {
    width: 100vw;
  }
}

.timeline-xs {
  max-height: 20vh;
  margin: 5vh auto 5vh auto;
}
@media screen and (max-width: 576px) {
  .text-xs-center {
    text-align: center;
  }

  .center-element {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
