main{
    height: 100%;
}
.bg-landing {
  background-color: #f0f0e8;
}
.description {
  font-family: "Roboto light";
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-start {
  background: #f05133;
  border-radius: 20px;
}
.btn-start:hover {
    background: #993321;
}
.btn-start a{
    color: #fff;
}
.btn-start a:hover{
    color: #fff;
    text-decoration: none;
}
.btn-start::content{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 154.19%;
display: flex;
align-items: center;
text-align: center;
color: #F0F0E8;
}
.footer-wave{
    position: fixed;
    width: 100vw;

    bottom: 0;
}
