<div class="row mt-1">
  <div class="col-md-12 text-center">
    <app-brand></app-brand>
    <div class="jumbotron bg-white mt-4 shadow">
      <h1>Bienvenido al los apuntes de Mister Git!</h1>
      <div class="alert alert-info">
        Aún no llegamos a la versión <strong id="version">1.0</strong>
      </div>
      <p class="text-justify">
        Estes es un proyecto libre en el cual si deseas, puedes colaborar o,
        simplemente hacer lo que se te de la gana!. O quizas algo mucho mejor
        :-)<strong>(deseo de corazón que asi sea)</strong>. Trabajo en mis
        tiempos libres en mejorar este <strong>"proyecto/curso"</strong> y
        espero pronto llegar a la versión optima para publicar el sitio en la
        internet.
      </p>
      <p>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by
        <a href="https://github.com/D3vaya">
          <img
            src="../../../../assets/img/social/profile.jpeg"
            alt="imagen perfil github"
            class="mr-2 rounded-circle shadow"
            height="60"
          />
        </a>
        <a
          href="https://github.com/D3vaya/Mr-Git"
          class="text-muted"
          target="_blank"
          >D3vaya&nbsp;<img
            src="../../../../assets/img/social/github.svg"
            style="height: 1em" /></a
        >.
      </p>
      <strong>Licencia MIT</strong>
    </div>
  </div>
</div>
