<li>
  <a
    class="nav-link text-dark"
    (click)="open()"
    *ngIf="params.subChapter.length > 0"
    routerLinkActive="active"
  >
    <img
      src="../../../assets/img/{{ params.icon }}"
      height="35"
      alt="{{ params.title }}"
    />
    {{ params.title }}
    <figure class="icon-submenu">
      <img
        src="../../../../assets/img/commons/{{ img }}"
        alt="flecha"
        class="arrow"
        height="20"
      />
    </figure>
  </a>

  <ul class="submenu" *ngIf="params.open">
    <li *ngFor="let subchapter of params.subChapter">
      <a
        class="nav-link text-dark"
        routerLinkActive="active"
        routerLink="{{ subchapter.path }}"
      >
        <img
          src="../../../assets/img/{{ subchapter.icon }}"
          height="30"
          alt="{{ subchapter.title }}"
        />
        {{ subchapter.title }}
      </a>
    </li>
  </ul>
</li>
