a.nav-link,
figure.icon-submenu {
  display: inline-block;
}
li {
  margin-top: 10px;
  padding: 2px;
  width: 100%;
  a.nav-link {
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1em;
    width: 100%;
    &:hover {
      background-color: #d6d4cc;
    }
    figure {
      float: right;
    }
  }
}

.submenu a {
  display: block;
  font-weight: bold;
  font-size: 15px;
  img {
    height: 18px !important;
  }
}
.submenu li {
  color: #000;
}

.active {
  background-color: white !important;
}
