<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 navbar-brand"
    (click)="routerLanding()"
  >
    <img
      src="../../../../assets/img/landing/logo.svg"
      alt="mr git"
      height="30"
    />
  </a>
  <button
    class="navbar-toggler position-absolute d-lg-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="activeSidebar($event)"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="social">
    <a href="https://github.com/D3vaya/Mr-Git" target="_blank" class="mr-2">
      <img
        src="../../../../assets/img/social/github.svg"
        alt="github"
        height="22"
      />
    </a>
    <a href="https://twitter.com/D3vAya" target="_blank">
      <img
        src="../../../../assets/img/social/twitter.svg"
        alt="github"
        height="22"
      />
    </a>
  </div>
</header>
