<nav class="navbar shadow-sm navbar-expand-lg" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span class="mr-1">Mr</span>
      <img src="../../../../assets/img/bg/git-logo.svg" alt="" height="20" />
    </a>
  </div>
  <a href="https://github.com/D3vaya/Mr-Git" target="_blank" class="mr-2">
    <img
      src="../../../../assets/img/social/github.svg"
      alt="github"
      height="25"
    />
  </a>
  <a href="https://twitter.com/D3vAya" target="_blank">
    <img
      src="../../../../assets/img/social/twitter.svg"
      alt="github"
      height="25"
    />
  </a>
</nav>
