nav.navbar {
  height: 50px;
  background-color: #fff !important;
  color: #9a9994 !important;
}
.nav-scroller {
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
  font-size: 15px;
  margin-top: 50px !important;
}
.navbar-brand {
  color: #2f3542;
  font-family: "Potta One", cursive;
  span {
    font-size: 1.2em;
  }
}
