header.navbar {
  height: 50px;
  background-color: #d6d4cc !important;
  color: #9a9994 !important;
}

.navbar-toggler {
  background-color: #413000;
  float: right;
  position: absolute;
  right: 10px;
}
