header.navbar {
  height: 50px;
  background-color: #d6d4cc !important;
  color: #9a9994 !important;
  .social {
    margin-right: 10px;
    a {
      margin-right: 10px;
    }
  }
}

.navbar-toggler {
  background-color: #413000;
  float: right;
  position: absolute;
  right: 10px;
}
