<header
  class="navbar sticky-top flex-md-nowrap p-0"
  [ngStyle]="{ 'background-color': businessStyle.businessColor }"
  [class.shadow-sm]="businessStyle.style.shadow"
>
  <a
    class="navbar-brand col-md-3 col-lg-2 me-0 px-3 navbar-brand"
    (click)="routerLanding()"
  >
    <img
      src="../../../../assets/img/{{ logoBrand }}"
      alt="mr git"
      height="30"
    />
  </a>
  <button
    class="navbar-toggler position-absolute shadow-lg d-lg-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="activeSidebar($event)"
  >
    <img src="../../../../assets/img/bg/burger.svg" alt="burger" height="30" />
  </button>
  <div class="social" *ngIf="!businessStyle.business">
    <a href="https://github.com/D3vaya/Mr-Git" target="_blank" class="mr-2">
      <img
        src="../../../../assets/img/social/github.svg"
        alt="github"
        height="22"
      />
    </a>
    <a href="https://twitter.com/D3vAya" target="_blank">
      <img
        src="../../../../assets/img/social/twitter.svg"
        alt="github"
        height="22"
      />
    </a>
  </div>
  <div class="social" *ngIf="businessStyle.business">
    <img
      src="{{ businessStyle.businessPath }}{{ businessStyle.businessImage }}"
      alt="imagen corporativa"
      class="mr-3"
      height="35"
    />
  </div>
</header>
