.Preview {
  max-height: 80vh;
  height: 70vh;
  overflow: auto;
  width: 100%;
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid #636e72;
  border-radius: 5px;
  padding: 20px;
  transition: all 300ms ease-out;
}

.variable-binding {
  border-radius: 5px;
  min-height: 420px;
  width: 100%;
}
