<main>
    <div class="container  d-flex align-items-center justify-content-center min-vh-100 py-4">
        <div class=" ">
            <div class="row justify-content-center">
                <div class="col error-title ">
                    404
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col error-message justify-content-center">
                    Not Found
                </div>
            </div>
            <div class="row justify-content-center p-5">
                <div class="col">
                    Página no encontrada😣.
                </div>
            </div>
            <div class="row justify-content-center py-5">
                <div class="py-4 d-flex justify-content-center">
                    <a (click)="goBack()" class="btn-start d-flex justify-content-center">
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</main>