<div class="container padding">
  <div
    class="row d-flex d-flex justify-content-between align-items-center py-5 center-element"
  >
    <img src="../../../assets/img/landing/logo.svg" alt="mrgit logo" />
  </div>
  <div class="row py-5 d-flex justify-content-center">
    <img
      src="../../../assets/img/roadmap/roadmap-icon.svg"
      alt="roadmap-icon"
    />
    <div class="title">&nbsp;RoadMap</div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="d-none d-sm-block">
      <img src="../../../assets/img/roadmap/roadmap.svg" alt="roadmap" />
    </div>

    <img
      src="../../../assets/img/roadmap/roadmap-xs.svg"
      alt="roadmap"
      class="d-block d-sm-none"
    />
  </div>
  <div class="row py-5">
    <div class="col-md-6 col-xs-12 p-4 d-none d-sm-block">
      <div class="row d-flex align-items-center p-2">
        <div class="col-2">
          <img src="../../../assets/img/roadmap/finished.svg" alt="finished" />
        </div>
        <div class="col">Actual/terminado</div>
      </div>
      <div class="row d-flex align-items-center p-2">
        <div class="col-2">
          <img src="../../../assets/img/roadmap/progress.svg" alt="finished" />
        </div>
        <div class="col">En progreso</div>
      </div>
      <div class="row d-flex align-items-center p-2">
        <div class="col-2">
          <img src="../../../assets/img/roadmap/coming.svg" alt="finished" />
        </div>
        <div class="col">Próximamente</div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 p-4 detail">
      <div class="row py-1">
        <div class="col-4 detail-title">Versión</div>
        <div class="col detail-title">Descripción</div>
      </div>
      <div class="row py-1">
        <div class="col-4">0.1</div>
        <div class="col">Config & Setup y Creación Repos</div>
      </div>
      <div class="row py-1">
        <div class="col-4">0.2</div>
        <div class="col">Commandos Basicos y Ramas</div>
      </div>
      <div class="row py-1">
        <div class="col-4">0.5</div>
        <div class="col">Ramas remotas && Inspección</div>
      </div>
      <div class="row py-1">
        <div class="col-4">0.7</div>
        <div class="col">Patching && Debugging</div>
      </div>
      <div class="row py-1">
        <div class="col-4">1.0</div>
        <div class="col">Deploy final</div>
      </div>
    </div>
  </div>
</div>
