body {
  font-family: "Source code Pro";
  background-image: url("./assets/img/bg/body.jpeg");
  background-repeat: repeat;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@font-face {
  font-family: "Potta One";
  src: local("Potta One"),
    url(./assets/fonts/brand/PottaOne-Regular.ttf) format("truetype");
}
