$primary-color: #f0f0e8;
$secondary-color: #d6d4cc;
@import "~highlight.js/styles/monokai-sublime.css";
body {
  font-family: "Prompt", sans-serif, Helvetica;
  background-color: $primary-color !important;
}
img {
  max-width: 100%;
}
a {
  cursor: pointer;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
@font-face {
  font-family: "Prompt";
  src: url(./assets/fonts/web/Prompt-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url(./assets/fonts/web/Prompt-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Prompt";
  src: url(./assets/fonts/web/Prompt-Light.ttf) format("truetype");
  font-weight: light;
  font-style: normal;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 15px;
  }
  .sidebar {
    display: none;
  }
  .social {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  body {
    font-size: 15px;
  }
  .sidebar {
    display: none;
  }
  .social {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  body {
    font-size: 15px;
  }
  .sidebar {
    display: none;
  }
  .social {
    display: none;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

// custom
@media only screen and (min-width: 540px) and (max-width: 992px) and (orientation: portrait) {
  body {
    font-size: 15px;
  }
  .sidebar {
    display: none;
  }
  .social {
    display: none;
  }
}
